* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* BEGIN SIDEBAR */

.sidebar {
  font-weight: 700;
  background-color: blue;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
  color: white;
}

.sidebar a:visited {
  color: white;
}

.logo-header {
  font-size: 3.2rem;
}

.nav {
  display: grid;
  gap: 36px;
}

.nav-section, .logo {
  margin-left: 16px;
}

.nav-section-item, .logo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.nav-section-item a {
  font-size: 2rem;
}

.sidebar-icon {
  height: 28px;
  width: 28px;
}

.dashboard-icon {
  height: 48px;
  width: 48px;
}

/* END SIDEBAR */

/* BEGIN MAIN */

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  padding: 18px;
}

/* BEGIN HEADER */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / 3;
  
}

.header-left, .header-right {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header-left {
  grid-column: 1 / 2;
  margin-left: 32px;
  display: grid;
}

.search {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.icon-search {
  height: 28px;
  width: 28px;
}

input[type='search'] {
  width: 85%;
  height: 36px;
  background-color: lightgrey;
  border: none;
  border-radius: 16px;
  padding: 4px 16px;
  font-size: 1.6rem;
}

.header-greeting {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  gap: 24px;
}

.greeting-container {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.greeting {
  font-size: 1.6rem;
}

.user-handle {
  font-size: 3.2rem;
}

.header-right {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-nav {
  display: grid;
  grid-column: 2 / 4;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
}

.user-nav a:visited {
  color: inherit;
}

.user-name {
  font-weight: 700;
  font-size: 1.8rem;
}

.action-buttons {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
  align-items: center;
  justify-items: end;
}

.action-button {
  display:flex;
  width: 96px;
  align-items:center;
  justify-content:center;
  border: none;
  border-radius: 32px;
  background-color: turquoise;
  color: white;
  font-weight: 700;
  padding: 10px 32px;
  font-size: 1.6rem;
  cursor: pointer;
}

.notification-bell {
  height: 32px;
  width: 32px;
}

.project-action {
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-avatar {
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

.profile-avatar-small {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
/* END HEADER */

/* BEGIN PROJECTS AND ANNOUNCEMENTS */


.projects-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 12px;
}

.projects {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
}

.project {
  display: grid;
  align-items: center;
  min-height: 100px;
  max-height: 220px;
  max-width: 320px;
  background-color: brown;
  border-left: solid orange 8px;
  border-radius: 8px;
  padding: 24px;
}

.project-title {
  margin-bottom: 4px;
}

.project-description {
  font-size: 1.6rem;
}

.project-actions {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.announcments-and-trending {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 12px;
}

.announcements, .trending-container  {
  flex: 1;
  max-height: 320px;
  height: 300px;
  width: 200px;
  background-color: brown;
  border-radius: 8px;
  display: grid;
  align-items: center;
  padding: 32px;
  gap: 12px;
}

.announcement-title {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.announcement-body {
  font-size: 1.2rem;
}

hr {
  border: none;
  height: 1px;
  background-color: grey;
}

.avatar-container {
  height: 42px;
  width: 42px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending {
  display: grid;
  gap: 18px;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.trending-avatar {
  height: 40px;
  width: 40px;
}

.trending-detail {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-handle {
  font-size: 1.4rem;
}

.detail {
  font-size: 1.3rem;
  color: gray;
}

/* END PROJECTS AND ANNOUNCMENTS */

/* END MAIN */
