* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* BEGIN SIDEBAR */

.sidebar {
  font-weight: 700;
  background-color: blue;
  display: grid;
  grid-template-rows: 120px 1fr;
  gap: 24px;
  color: white;
}

.sidebar a:visited {
  color: white;
}

.logo-header {
  font-size: 3.2rem;
}

.nav {
  display: grid;
  /* Empty row on bottom"pushes up" middle row */
  grid-template-rows: 1fr 0.5fr 1fr;
  gap: 96px;
}

.nav-section {
  display: grid;
  gap: 12px;
}

.nav-section, .logo {
  margin-left: 24px;
}

.nav-section-item, .logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-section-item a {
  font-size: 2.4rem;
}

/* END SIDEBAR */
